body{
    margin: 0;
    text-align: center;
}
h1{
    margin-top: 0;
    width: 15%;
    margin: 0 auto;
}
.top-container{
    margin-top: auto;
    background-color: #A9F1DF;
    height: 300%;
}
.cloud-top{
    text-align: center;
    margin: auto 30% auto 70%;
    display: block;
    right: 200px;
}
.cloud-bottom{
    margin: auto 85% auto 15%;
}

