a{
    text-decoration: none;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Montserrat' ,sans-serif;
}
.bottom-container{
    background-color: #d6f7f7;
    padding-top: 60px;
    padding-bottom: 28px;
    margin-top: 20px;
    width: auto;
}
.btn {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 21px;
    font-weight: 100;
    padding: 10px;
    padding:10px 22px 10px 22px;
    background-color: #09947f;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
 }

 .btn-ghost{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid #09947f 3px;
    color: #09947f;
    font-family: Verdana;
    font-size: 19px;
    font-weight: 100;
    padding: 7px;
    background-color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
.cloud-top{
    text-align: center;
    margin: auto 30% auto 70%;
    display: block;
    right: 200px;
    margin-bottom: 10px;
    padding-top: 50px;
}
.cloud-bottom{
    margin: 3% 85% -20px 15%;
    
}
.contact-me{
    margin: 90px auto;
    width: 50%;
    line-height: 150%;
}
.cp-img{
    float: left;
    width: 25%;
    margin-right: 35px;
    position: relative;
    bottom: 13px;
}
.copyright{
    text-align: center;
}
.footer-link{
    position: relative;
    bottom: 10px;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 500;
    color: #09947f;
}
.hello{
    margin: 60px auto 50px auto;
}
.hire-info{
    color: rgba(0, 0, 0, 0.87);
    margin: 70px auto 60px auto;
}
h1{
    margin-top: 0;
    width: 35%;
    margin: 0 auto;
    font-size: 500%;
    color: #1EAE98;
}
h2{
    color: #27b8a2;
    font-size: 250%;
    font-family:  'Quicksand', sans-serif;
}
h3{
    color: #09947f;
    font-family:  'Quicksand', sans-serif;
}
hr{
    border-top-style: dotted;
    border-top-width: 6px;
    width: 60px;
    color: #b8e2e2;
}
.mountain-img{
    position: relative;
    bottom: -5px;
}
.profile-img{
    width: 28%;
    border-radius: 100px;
}
.profile{
    display: inline-block;
    margin: 90px auto;
    width: 50%;
    line-height: 150%;
}
.profile-info{
    text-align: center;
}
.skills{
    margin: auto auto;
    margin-top: 90px;
    width: 50%;
}
.skill-row{
    margin: 90px auto;
    text-align: justify;
    line-height: 160%;
}
.subtitle{
    font-family: 'Quicksand', sans-serif;
    font-size: 26px;
}
.title{
    font-family: 'Sacramento', cursive;
    /* font-size: 400%; */
    margin-bottom: -15px;
    margin-top: 70px;
}
.top-container{
    background-color: #c6e7df;
    height: 300%;
    margin-top: auto;
}
.web-dev-img{
    background-color: rgb(154, 245, 225);
    border-radius: 13px;
    float: right;
    margin-left: 35px;
    position: relative;
    bottom: 9px;
    width: 25%;
}
